.form-div{
    width:45%;
    margin-top: 40px;
    
}
.apy{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}
.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 101px;
}
@media screen and (max-width:600px) {
    .label{
        margin-left: unset !important;
    }    
}
.formula-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 115px;
}
.formula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 7px;
}
@media screen and (max-width:600px) {
    .form-div{
    width: unset !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
}
